@page "/about-us"

@namespace CoolHub

@using CoolHub.ViewModels
@using CoolHub.Models
@using System.ComponentModel
@using Microsoft.Extensions.Configuration

@inject AllCategoriesViewModel AllCategoriesViewModel 
@* change the ViewModel *@
@inject IConfiguration Configuration

<h1 style="position: center"> We are CoolHub</h1> 
<br>
<h2>- the best learning HUB (source needed) for all students looking for quality learning material</h2>
<br>
<p>Hello and welcome to CoolHub! We are a site dedicated to gathering and organizing learning material aimed at university students, 
specifically material about IT and programming. Here you'll find tutorials, examples, guides and more that will help you in your studies.
Start off by looking at some of our tutorials available on the site, 
like how to make the famous "Java Hello World" at the snap of your fingers!</p>
<br><br><br>
<p style="position: fixed; bottom: 0; width:100%; text-align: center">Having problems? Too bad. Need to contact us for business reasons? Fear not! Contact us at: coolhubcontact@mail.com</p>