@page "/all-categories"

@namespace CoolHub

@using CoolHub.ViewModels
@using CoolHub.Models
@using System.ComponentModel
@using Microsoft.Extensions.Configuration

@inject AllCategoriesViewModel AllCategoriesViewModel
@inject IConfiguration Configuration
@implements IDisposable

@* Add the viewmodel as a cascading value, so that all the children of the 
ToDoPage component have a reference to the viewmodel*@

<h1>Number of categories: @AllCategoriesViewModel.NumberOfCategories()</h1>

<CascadingValue Value=@AllCategoriesViewModel Name="AllCategoriesViewModel">
    <CategoryListComponent />
    <CategoryFormComponent />
</CascadingValue>


@code 
{
    // update the entire view, the page and its components on PropertyChanged
    protected override async Task OnInitializedAsync()
    {
        AllCategoriesViewModel.PropertyChanged += async (sender, e) => { 
            await InvokeAsync(() =>
            {
                StateHasChanged();
            });
        };
        await base.OnInitializedAsync();
    }

    private async void OnPropertyChangedHandler(object sender, PropertyChangedEventArgs e)
    {
        await InvokeAsync(() =>
        {
            StateHasChanged();
        });
    }

    public void Dispose()
    {
        AllCategoriesViewModel.PropertyChanged -= OnPropertyChangedHandler;
    }
}