@inherits LayoutComponentBase

<div class="page">
    <div class="main">
        <div class="backgroundgradient"></div>
        <div class="sidebar">
        <NavMenu />
        </div>
        <center><hr class="hr-line"></center>  
        <div class="content px-4">
            <div class="bodyin">
                @Body
            </div>
        </div>
    </div>
</div>
