<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href=""><img class="navbar-brand-icon" src="https://www.lifeunlimited.net.nz/site/wp-content/uploads/2017/10/Hub-Icon.png">&nbsp;CoolHub</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

@* <div class="@NavMenuCssClass" @onclick="ToggleNavMenu"> *@
    <ul class="nav flex-row main-nav-menu">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Tutorials
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="all-categories">
                <span class="oi oi-list-rich" aria-hidden="true"></span> All Categories
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="all-categories">
                <span class="oi oi-question-mark" aria-hidden="true"></span> About us
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="Log-in">
                <span class="oi oi-account-login" aria-hidden="true"></span> Log-in
            </NavLink>
        </li>
    </ul>
@* </div> *@

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
