@using CoolHub.ViewModels
@using CoolHub.Models
@using System.ComponentModel

@namespace CoolHub

@inject NavigationManager NavigationManager

@if (AllCategoriesViewModel?.IsBusy == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="card-deck" >
        @foreach (var categoryDetails in AllCategoriesViewModel.Categories.OrderBy(c => c.Name).ThenBy(c => c.Description))
        {
            <CategoryComponent category="categoryDetails"/>
        }
    </div>
}

@code {
    [CascadingParameter(Name = "AllCategoriesViewModel")]
    AllCategoriesViewModel AllCategoriesViewModel { get; set; }

    List<CategoryDetailsDTO> details = new List<CategoryDetailsDTO>();
}