@using CoolHub.ViewModels
@using CoolHub.Models
@using CoolHub.Entities
@using System.Diagnostics

@namespace CoolHub

<hr />
<br>
<h3 class="Tutorials-header">Create new category</h3>
<br>

<EditForm Model="@Category" OnValidSubmit="@CreateCategory">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="col-4">
        <div class="form-group">
            <label for="name">Name</label>
            <InputText class="form-control" id="name" @bind-Value=@Category.Name />
        </div>
        <div class="form-group">
            <label for="notes">Description</label>
            <InputTextArea class="form-control" id="notes" @bind-Value=@Category.Description />
        </div>
        <button type="submit" class="btn btn-primary" disabled="@AllCategoriesViewModel.IsBusy">Save</button>
    </div>

</EditForm>


@code {
    [CascadingParameter(Name = "AllCategoriesViewModel")]
    AllCategoriesViewModel AllCategoriesViewModel { get; set; }

    private CategoryCreateDTO Category = new CategoryCreateDTO();

    private void CreateCategory()
    {
        AllCategoriesViewModel.CreateCategory(new CategoryCreateDTO()
        {
            Name = Category.Name,
            Description = Category.Description
        });

        Category = new CategoryCreateDTO(); 
    }
}