@using CoolHub.ViewModels
@using CoolHub.Models
@using CoolHub.Entities
@using System.Diagnostics

@namespace CoolHub

<hr />

<EditForm Model="@Category" OnValidSubmit="@HandleCategoryCreated">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="col-4">
        <div class="form-group">
            <label for="name">Name</label>
            <InputText class="form-control" id="name" @bind-Value=@Category.Name />
        </div>
        <div class="form-group">
            <label for="notes">Description</label>
            <InputTextArea class="form-control" id="notes" @bind-Value=@Category.Description />
        </div>
        <button type="submit" class="btn btn-primary" disabled="@CategoriesViewModel.IsBusy">Save</button>
    </div>

</EditForm>


@code {
    [CascadingParameter(Name = "CategoriesViewModel")]
    CategoriesViewModel CategoriesViewModel { get; set; }
    private CategoryCreateDTO Category = new CategoryCreateDTO();

    private async void HandleCategoryCreated()
    {

        Debug.WriteLine("CreateCategory called in CategoriesFormComponent");

        await CategoriesViewModel.CreateCategory(new CategoryCreateDTO()
        {
            Name = Category.Name,
            Description = Category.Description
        });

        Category = new CategoryCreateDTO();
    }

}