@using CoolHub.ViewModels
@using CoolHub.Models
@using CoolHub.Entities
@using System.Diagnostics

@namespace CoolHub

<hr />

<EditForm Model="@Topic" OnValidSubmit="@CreateTopic">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="col-4">
        <div class="form-group">
            <label for="name">Name</label>
            <InputText class="form-control" id="name" @bind-Value=@Topic.Name />
        </div>
        <div class="form-group">
            <label for="notes">Description</label>
            <InputTextArea class="form-control" id="notes" @bind-Value=@Topic.Description />
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
    </div>

</EditForm>


@code {
    [CascadingParameter(Name = "CategoryViewModel")]
    CategoryViewModel CategoryViewModel { get; set; }

    private TopicCreateDTO Topic = new TopicCreateDTO();

    private void CreateTopic()
    {
        CategoryViewModel.CreateTopic(Topic);

        Topic = new TopicCreateDTO();
    }
}