.page[b-mhgvi2dvzx] {
    position: relative;
    display: flex;
    flex-direction: row;
}

.main[b-mhgvi2dvzx] {
    flex: 1;
}

.backgroundgradient[b-mhgvi2dvzx] {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 500px;
    background: #0f8a9d;
    background: linear-gradient(57deg, #74cece 0%, #4e6e9c 100%);
    -webkit-transform-origin: 0;
    transform-origin: 0;
    -webkit-transform: skewY(-12deg);
    transform: skewY(-12deg);
    z-index: -1;
}

.sidebar[b-mhgvi2dvzx] {
    display: flex;
    flex-direction: row;
}

.hr-line[b-mhgvi2dvzx] {
    width:80%;
    margin: 0;
    color:white;
}

.bodyin[b-mhgvi2dvzx] {
    padding: 3rem;
    background: white;
    margin: 3rem;
    border-radius: 5px;
}

.bodyin[b-mhgvi2dvzx]::before {
    box-shadow: 0 16px 48px #E3E7EB;
    mix-blend-mode: multiply;
}

.top-row[b-mhgvi2dvzx] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-mhgvi2dvzx]  a, .top-row .btn-link[b-mhgvi2dvzx] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-mhgvi2dvzx] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-mhgvi2dvzx] {
        display: none;
    }

    .top-row.auth[b-mhgvi2dvzx] {
        justify-content: space-between;
    }

    .top-row a[b-mhgvi2dvzx], .top-row .btn-link[b-mhgvi2dvzx] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-mhgvi2dvzx] {
        flex-direction: row;
    }

    .sidebar[b-mhgvi2dvzx] {
        /* position: sticky; */
        top: 0;
    }

    .top-row[b-mhgvi2dvzx] {
        /* position: sticky; */
        top: 0;
        z-index: 1;
    }

    .main > div[b-mhgvi2dvzx] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
